
<div *ngIf="productOrder">
    <h2><span>Product Order</span> {{productOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Placed Date</span></dt>
        <dd>
            <span>{{productOrder.placedDate | date:'medium'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{productOrder.status}}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
            <span>{{productOrder.code}}</span>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
            <div *ngIf="productOrder.customer">
                <a [routerLink]="['/customer', productOrder.customer?.id]">{{productOrder.customer?.email}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product-order/'+ productOrder.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
